/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container-section {
    max-width: 800px;
    margin: 40px auto;
    width: 60%;
}

.contact-section {
    margin-top: 50px;
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    text-align: left;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Header and Footer styles (adjust as needed) */
header,
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
