<%- include("../partials/head.ejs") %>

<body>
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %><!-- HERO -->

    <!-- MAIN -->

    <main class="container">
        <img src="/images/404.jpg" alt="404">
    </main>

    <!-- FOOTER -->
    <%- include("../partials/footer.ejs") %>
</body>

</html>