<footer>
    <section class="section_footer">
        <nav>
            <ul class="ul_nav_section_footer">
                <li>
                    <a href="/shop">Shop</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/contact">Contacto</a>
                </li>
            </ul>
            <picture>
                <a href="#nav_header">
                    <img src="/images/branding/isotype.svg"
                        alt="Isologotipo de la marca Funkoshop">
                </a>
            </picture>
        </nav>
    </section>
    <p class="p_footer">All rights reserved 2023 - Funkoshop</p>
</footer>