<header>
    <nav id="nav_header" class="nav_header">
        <picture>
            <a href="/home">
                <img src="/images/branding/logo_light_horizontal.svg"
                    alt="Isologotipo de la marca Funkoshop">
            </a>
        </picture>
        <ul class="ul_nav_header">
            <li>
                <a href="/shop">SHOP</a>
            </li>
            <li>
                <a href="/contact">CONTACTO</a>
            </li>
            <li>
                <a href="/auth/login">LOGIN</a>
            </li>
            <li>
                <a href="/shop/cart">
                    <img src="/images/icons/cart-icon.svg"
                        alt="ícono de carrito">
                </a>
            </li>
        </ul>
    </nav>
</header>